$choices-selector: "choices";
$choices-guttering: null;
$choices-font-size-lg: #{$input-font-size};
$choices-font-size-md: #{$input-font-size};
$choices-font-size-sm: #{$input-font-size};
$choices-bg-color: #{$input-bg};
$choices-bg-color-dropdown: #{$dropdown-bg};
$choices-border-radius: #{$input-border-radius};
$choices-z-index: #{$zindex-dropdown};

@import "../../node_modules/choices.js/src/styles/choices.scss";

.#{$choices-selector} {
  margin: 0;
  overflow: initial;
}

.#{$choices-selector}[data-type*='select-one'] {
  cursor: pointer;
  .#{$choices-selector}__inner {
    padding-bottom: #{$input-padding-y};
  }

  &::after,
  &.is-open::after {
    all: unset;
  }

  &[dir="rtl"] {

    &::after {
      all: unset;
    }
  }
}

.#{$choices-selector}__inner {
  min-height: initial;
  display: inline-flex;
  align-items: center;
  border: #{$input-border-width} solid #{$input-border-color};
  padding: #{$input-padding-y} #{$input-padding-x};

  .#{$choices-selector}__item--selectable {
    color: #{$input-color};
  }

  .#{$choices-selector}__placeholder {
    color: #{$input-placeholder-color};
  }

  .icon {
    --_size: .75rem;

    align-self: center;
  }

  .is-open &,
  .is-focused & {
    border-color: #{$input-focus-border-color};
    box-shadow: #{$input-focus-box-shadow};
  }

  .is-open & {
    border-radius: $choices-border-radius;

    .icon {
      transform: rotate(180deg);
    }
  }

  .is-flipped.is-open & {
    border-radius: $choices-border-radius;
  }

  .is-invalid & {
    border-color: #{map-get(map-get($form-validation-states, "invalid"), "border-color")};
    box-shadow: #{map-get(map-get($form-validation-states, "invalid"), "focus-box-shadow")};
  }
}

.#{$choices-selector}__list {
  display: flex;
  flex-direction: column;

  &[aria-expanded] {
    @extend %choices-dropdown;
  }
}

.#{$choices-selector}__list--single {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  &,
  [dir="rtl"] & {
    padding: unset;
  }
}

%choices-dropdown {
  width: 100%;
  display: none;
  background-color: $choices-bg-color-dropdown;
  margin-top: .5rem;
  border-radius: $choices-border-radius;
  border: none;
  padding: 1.25rem #{$input-padding-x};
  box-shadow: #{$box-shadow-lg};
  position: absolute;
  top: 100%;
  z-index: $choices-z-index;

  .is-flipped & {
    margin-bottom: .5rem;
    border-radius: $choices-border-radius;
  }

  .#{$choices-selector}__list {
    max-height: 10.5rem;
  }

  .#{$choices-selector}__item {
    padding: unset;
  }

  .#{$choices-selector}__item--selectable {
    padding-block: .375rem;

    &.is-selected {
      font-weight: 500;
      color: var(--#{$prefix}success);
    }

    &.is-highlighted {
      background-color: transparent;
    }

    @media (hover: hover) {

      &:is(:hover, :focus-visible) {
        color: var(--#{$prefix}success);
      }
    }
  }
}

.#{$choices-selector}__list--dropdown {
  @extend %choices-dropdown;
}

.#{$choices-selector}__placeholder {
  opacity: 1;
}
